name: HACS Validation

on:
  push:
  pull_request:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: ubuntu-latest
    name: HACS Validation
    steps:
      - name: Check out the Repository
        uses: actions/checkout@v4

      - name: HACS Validator Workflow
        uses: hacs/action@main
        with:
          category: integration
